include ../mixins/menu
include ../mixins/control-elements
extends ../layout

block content
  mixin main-menu(main_menu, item.id, logged_in)
  .row
    .col-lg-4
      h3 Change #{item.name} - Suite
      .row
        .col-lg-12
          mixin settings_form(item, branch)
    .col-lg-8
      iframe(src="/load_suite/#{item.path_name}")