include ../mixins/menu
include ../mixins/control-elements
extends ../layout

block content
  mixin main-menu(main_menu, item.id, logged_in)
  mixin flash_message()
  .row
    .col-lg-4
      h3 Change #{item.name} - Suite
      .row
        .col-lg-6 Change Branch
        .col-lg-6 
          mixin dropdown(dropdown.branch)
      .row
        .col-lg-12
          mixin offset_form(item)
    .col-lg-8
      iframe(src="/load_suite/#{item.path_name}")