[submodule "suites/network"]
	path = suites/network
	url = git@github.com:kulturbande/TestCase-Network.git
[submodule "suites/render"]
	path = suites/render
	url = git@github.com:kulturbande/TestCase-Render.git
[submodule "suites/compute"]
	path = suites/compute
	url = git@github.com:kulturbande/TestCase-Compute.git
