extends ../layout

block content
  form(action="/login", method="POST").form-signin
    h2.form-signin-heading Please login
    input(type="text", placeholder="Name", name="username", autofocus).form-control
    input(type="password", placeholder="Password", name="password").form-control
    button(type="submit").btn.btn-lg.btn-primary.btn-block Login