mixin main-menu(items, selected)
  header
    .navbar.navbar-default
      a(href="/").navbar-brand Suite
      ul.nav.navbar-nav
        - each item in items
          - var css_class = "";
          - if (item.id == selected)
            - css_class = 'active';
          li(class= css_class)
            a(href="/suites/#{item.id}")= capitalize(item.name)
      - if(selected)
        .navbar-form.pull-right
          a(href="/load_suite/#{item.id}", target="_blank").btn.btn-default Load
  - each item in messages()
    div(class="alert alert-#{item[0]}") 
      button(type="button", data-dismiss="alert", aria-hidden="true").close &times;
      = item[1]
