mixin main-menu(items, selected)
  .pure-menu.pure-menu-open.pure-menu-horizontal.main-menu
      a(href="/").pure-menu-heading Suite
      ul
        - each item in items
          - var css_class = "";
          - if (item.id == selected) 
            - css_class = 'pure-menu-selected';
          li(class= css_class)
            a(href="/suites/#{item.id}")= capitalize(item.name)