mixin main-menu(items)
  .pure-menu.pure-menu-open.pure-menu-horizontal.main-menu
      a(href="/").pure-menu-heading Suite
      ul
        - each item in items
          li
            a(href="/suites/#{item}")= capitalize(item)